* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  color: white;
  background-color: #1b1b32;
  font-family: Roboto, sans-serif;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 5px 0;
}

.contenedor-tareas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.realizado{
  color : rgb(96, 70, 223);
}

.contenedor-menu{
  display: flex;
  flex-direction: column;
}
.contenedor-menu-item{
  display: flex;
  flex-direction: row;
  color: #fff;
  
}